@import "../../style/variables.scss";

.template {
  &-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 1.5px;
    row-gap: 2px;
    background: $brown;
    padding: 10px;
  }

  &-box {
    background: $bg-white;
    position: relative;
    padding: 10px;
  }

  &-img {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 2%;
    right: 2%;
  }
}
