@import "../../style/variables.scss";

.special {
  &-wrapper {
    background: $white;
    border-radius: 10px;
    margin: 10px;
  }

  &-item {
    display: flex;
    justify-content: space-between;
  }

  &-content {
    padding: 10px;
    margin: auto 0;
  }

  &-title {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &-price {
    letter-spacing: 1.5px;
    & span {
      color: red;
    }
  }

  &-till {
    display: flex;

    & p {
      font-weight: bold;
      text-transform: uppercase;
      padding-right: 10px;
      margin-top: 5px;
    }

    & span {
      color: $grey-dark;
      text-transform: capitalize;
      font-weight: normal;
    }
  }

  &-count {
    padding-top: 5px;
    & span {
      width: 26px;
      height: 26px;
      background: red;
      border-radius: 50%;
      padding: 0 8px;
      color: $white;
    }
  }

  &-link {
    margin: 40px 0 20px 0;

    & a {
      padding: 5px 15px;
      background: #000;
      color: $white;
      border: 2px solid #000;
      text-transform: lowercase;
      border-radius: 5px;
    }

    & a:hover {
      border: 2px solid #000;
      background: $white;
      color: #000;
    }
  }
}
