@import "../../style/variables.scss";

.button {
  // padding: 10px 0;
  // margin: 10px 0;
  display: inline;

  &-link {
    color: $btn-color;
    border: 2px solid $btn-color;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
  }

  &-link:hover {
    color: $bg-white;
    background: $btn-color;
    border: 2px solid $btn-color;
  }
}
