@import "../../style/variables.scss";
@import "../../style/App.scss";

.product {
  &-container {
    background: $white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px $grey;
    text-align: center;
  }
  &-img {
    & img {
      width: 100%;
      max-width: 200px;
      max-height: 300px;
      object-fit: cover;
    }
  }

  &-box {
    & p {
      margin-bottom: 10px;
    }
  }

  &-btn {
    padding: 10px 25px;
    border: 2px solid $brown;
    background: $brown;
    color: $white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
  }
}
