@import "../../style/variables.scss";

.home {
  background: $grey;
  // padding: 50px 0;

  & section {
    padding: 50px 0;
  }

  &-caption {
    text-align: center;
    padding-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: bold;
    font-size: 21px;
    color: $brown;
  }

  //^^^^^not to remove/////
  //////
  //////
}

/////do not move//////
.news {
  background: $white;
}

.banner {
  background: $white;
}
/////////
