@import "../../style/variables.scss";

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;

  &-item {
    // background-image: linear-gradient(
    //     rgba(122, 35, 45, 0.5),
    //     rgba(39, 131, 13, 0.9)
    //   ),
    //   url(../../assets/grig-bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 31vh;
    text-align: left;
    padding: 20px;
  }

  &-title {
    color: $color-light;
    text-transform: capitalize;
  }

  &-subtitle {
    color: $color-primary;
    text-transform: capitalize;
  }
}
