@import "../../style/variables.scss";

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(235px, auto);
  gap: 10px;

  &-item {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    // height: 31vh;
    text-align: left;
    padding: 20px;
  }

  &-title {
    color: $color-light;
    text-transform: capitalize;
  }

  &-subtitle {
    color: $color-primary;
    text-transform: capitalize;
  }
}
