@import "../../style/variables.scss";
@import "../../style/App.scss";

.home {
  background: $grey-light;

  &-caption {
    text-align: center;
    padding-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: bold;
    font-size: 21px;
    color: $brown;
  }
}

.news {
  background: $white;
}

.banner {
  background: $white;
}
