@import "../../style/variables.scss";

.home {
  background: $grey;
  padding: 50px 0;

  & section {
    padding: 50px 0;
  }

  &-caption {
    text-align: center;
    padding-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-weight: bold;
    font-size: 21px;
    color: $brown;
  }

  //^^^^^not to remove/////
  //////
  //////

  &-banner {
    position: relative;
    margin-bottom: 10px;

    & img {
      width: 100%;
      min-height: 60vh;
      border-radius: 10px;
    }
  }

  &-content {
    position: absolute;
    top: 10%;
    right: 10%;

    & h2 {
      color: $color-light;
      text-transform: uppercase;
      padding-bottom: 30px;
    }

    & p {
      color: $color-primary;
      text-align: left;
      padding-bottom: 30px;
    }

    & a {
      padding: 5px 30px;
      background: $btn-color;
      border-radius: 10px;
      color: $bg-grey;
    }

    & a:hover {
      background: $btn-hover;
      color: $color-light;
    }
  }
}

/////do not move//////
.news {
  background: $white;
}

.banner {
  background: $white;
}
/////////
