@import "../../style/variables.scss";
@import "../../style/App.scss";

.shop {
  background: $grey-light;

  &-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    background: $white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px $orange;
    margin-bottom: 20px;
  }

  &-box {
    display: flex;
    align-items: center;
    max-width: 40%;
    width: 100%;
    gap: 20px;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;

    & svg {
      font-size: 30px;
      cursor: pointer;
      color: $green;
      padding: 5px;
      background: $grey;
      border-radius: 5px;
    }
  }

  &-products {
    margin: auto 10px;
  }
}

.filter-title {
  font-weight: bold;
  font-size: 18px;
  color: $blue;
  text-transform: capitalize;
  margin-bottom: 0;
  padding-left: 10px;
  white-space: nowrap;
}

.form-select {
  max-width: 60%;
  width: 100%;
}
