@import "../../style/variables.scss";

.header {
  &-top {
    background: $blue;
    padding: 5px 0;
    border-bottom: 2px solid $grey-light;
    text-align: center;
    color: $color-light;
  }

  &-middle {
    background: $blue;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-bottom {
    background: $grey-dark;
    text-transform: capitalize;
  }
}

.top-text {
  margin-bottom: 0;
  font-size: 17px;
  & a {
    color: $grey-light;
  }

  & a:hover {
    color: $orange;
  }
}

.middle {
  &-logo {
    color: $orange;
    font-weight: bold;
  }

  &-form {
    position: relative;
  }

  &-input {
    width: 100%;
    margin-top: 10px;
    padding: 8px 100px 8px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
  }

  &-link {
    position: absolute;
    top: 13px;
    right: 5px;
    padding: 4px 30px;
    background: $orange;
    color: $blue;
    font-size: 17px;
    border-radius: 10px;
  }

  &-link:hover {
    background: $orange-light;
  }

  &-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  &-item {
    text-transform: capitalize;
    & a {
      padding-left: 8px;
      color: $grey-light;
    }

    & a:hover {
      color: orange;
    }

    & svg {
      color: $grey-light;
      font-size: 21px;
      margin-bottom: 5px;
    }
  }

  &-cart {
    padding-right: 10px;
  }

  &-cart svg:hover {
    transition: all 0.5s;
    color: $orange;
  }

  &-badge {
    padding: 1px 10px;
    color: $grey-light;
    background: $orange;
    border-radius: 5px;
  }
}

/////////////////
///////////////////
////////////////////
////////////////////

.bottom {
  &-menu {
    border-right: 3px solid $color-light;
    display: flex;
    align-items: center;

    & svg {
      font-size: 30px;
      margin-right: 10px;
      color: $grey;
    }
  }

  ///////
  &-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 15px;

    & a {
      padding: 0 30px 0 0;
      font-weight: bold;
      color: $color-light;
      font-size: 18px;
    }

    & a:hover {
      color: $btn-hover;
    }
  }
}

.dropdown {
  position: relative;
  padding: 5px 25px;

  & button {
    background: $grey-dark;
    color: $grey-light;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 35px;
  }
}

.menu {
  position: absolute;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  left: 5%;
  border-radius: 5px;
  background: $grey-dark;

  &-item {
    background: $grey-dark;
    padding: 5px 20px;
  }

  & a {
    color: $white;
  }

  & a:hover {
    color: $orange;
  }
}
