@import "../../style/variables.scss";

.header {
  &-top {
    background: $bg-dark;
    padding: 5px 0;
    border-bottom: 2px solid $color-light;
    text-align: center;
    color: $color-light;
  }

  &-middle {
    background: $bg-dark;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-bottom {
    background: $bg-grey;
  }
}

.top-text {
  margin-bottom: 0;
  font-size: 17px;
  & a {
    color: $color-light;
  }

  & a:hover {
    color: $btn-hover;
  }
}

.middle {
  &-logo {
    color: $color-primary;
    font-weight: bold;
  }

  &-form {
    position: relative;
  }

  &-input {
    width: 100%;
    margin-top: 10px;
    padding: 8px 100px 8px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
  }

  &-link {
    position: absolute;
    top: 14px;
    right: 5px;
    padding: 4px 30px;
    background: $btn-color;
    color: $bg-dark;
    font-size: 17px;
    border-radius: 10px;
  }

  &-link:hover {
    background: $btn-hover;
  }

  &-icons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  &-item {
    & a {
      padding-left: 5px;
      color: $color-light;
    }

    & a:hover {
      color: $btn-hover;
    }

    & svg {
      color: $color-light;
      font-size: 21px;
    }
  }

  &-cart {
    padding-right: 10px;
  }

  &-cart svg:hover {
    transition: all 0.5s;
    color: $btn-hover;
  }

  &-badge {
    padding: 1px 10px;
    color: $color-light;
    background: $btn-color;
    border-radius: 5px;
  }
}

.bottom {
  &-menu {
    border-right: 4px solid $color-light;
  }

  &-btn,
  &-btn:hover,
  &-btn:focus {
    background: transparent;
    box-shadow: none;
    border: none;
    text-transform: uppercase;
    padding-top: 12px;
  }

  &-btn {
    & svg {
      padding: 0 10px 3px 0;
      font-size: 25px;
    }
  }

  &-list {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;

    & a {
      padding: 0 30px 0 0;
      font-weight: bold;
      color: $color-light;
      font-size: 18px;
    }

    & a:hover {
      color: $btn-hover;
    }
  }
}

.dropdown-menu {
  background: $bg-grey;
  border: none;
  padding: 10px 25px;
}

.dropdown-item {
  color: $color-light;
  padding: 10px 0;
}

.dropdown-item:hover {
  background: $bg-grey;
  color: $btn-hover;
}
