@import "../../style/variables.scss";

.header {
  &-top {
    background: $blue;
    padding: 5px 0;
    border-bottom: 2px solid $grey-light;
    text-align: center;
    color: $grey-light;
  }

  &-middle {
    background: $blue;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
  }

  &-bottom {
    background: $grey-dark;
    text-transform: capitalize;
    color: $grey;
    padding: 5px 0;
  }
}

.top-text {
  margin-bottom: 0;
  font-size: 14px;
  & a {
    color: $grey-light;
  }

  & a:hover {
    color: $orange;
  }
}

.middle {
  &-logo {
    color: $orange;
    font-weight: bold;
    white-space: nowrap;
    font-size: 27px;
  }

  &-form {
    position: relative;
  }

  &-input {
    width: 100%;
    padding: 8px 100px 8px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
  }

  &-link {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 4px 30px;
    background: $orange;
    color: $blue;
    font-size: 17px;
    border-radius: 10px;
  }

  &-link:hover {
    background: $orange-light;
  }

  &-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  &-item {
    & a {
      padding-left: 8px;
      color: $grey-light;
    }

    & a:hover {
      color: orange;
    }

    & svg {
      color: $grey-light;
      font-size: 21px;
      margin-bottom: 5px;
    }
  }

  &-cart {
    padding-right: 10px;
  }

  &-cart svg:hover {
    transition: all 0.5s;
    color: $orange;
  }

  &-badge {
    padding: 1px 10px;
    color: $grey-light;
    background: $orange;
    border-radius: 5px;
  }
}

.bottom {
  &-container {
    display: flex;
    align-items: baseline;

    & svg {
      font-size: 30px;
      color: $grey;
      transform: translateY(-2px);
    }
  }

  &-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 0;

    & a {
      padding-right: 25px;
      font-weight: bold;
      color: $grey;
      font-size: 17px;
    }

    & a:hover {
      color: $orange;
    }
  }
}

.dropdown {
  position: relative;
  padding: 0 25px;
  padding-left: 0;

  & button {
    background: $grey-dark;
    color: $grey-light;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
    padding: 5px 35px;
  }
}

.menu {
  position: absolute;
  margin: 5px 0;
  padding: 5px;
  width: 100%;
  left: 15%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background: $grey-dark;

  &-item {
    background: $grey-dark;
    padding: 5px 20px;
  }

  & a {
    color: $white;
  }

  & a:hover {
    color: $orange;
  }
}

@media (max-width: 991px) {
  .middle-logo {
    font-size: 23px;
  }

  .middle-icons {
    margin-top: 20px;
  }

  .menu {
    width: 150%;
    left: 0;
  }
}

@media (max-width: 600px) {
  .middle-icons {
    & svg:not(:last-child) {
      display: none;
    }
  }
}

@media (max-width: 300px) {
  .middle-icons {
    display: block;
  }

  .middle-item {
    padding: 20px 0;
  }

  .bottom-list {
    display: block;

    & li {
      padding: 20px 0;
    }
  }
}
