// colors
$bg-dark: rgb(4, 21, 91);
$bg-white: rgb(255, 255, 255);
$bg-grey: rgb(71, 75, 93);
$color-light: rgb(197, 230, 235);
$color-primary: rgb(245, 182, 22);
$btn-color: rgb(231, 152, 92);
$btn-hover: rgb(234, 120, 32);
