/////colors///////

$brown: rgb(149, 69, 53);
$grey: rgb(187, 195, 201);
$white: rgb(235, 235, 235);
$orange: rgb(234, 120, 32);
$blue: rgb(14, 35, 117);
$green: rgb(26, 74, 58);
$blue-light: rgb(168, 188, 232);
$grey-light: rgb(219, 230, 237);
$green-light: rgb(157, 230, 177);
$orange-light: rgb(239, 161, 101);
$grey-dark: rgb(69, 72, 88);
