@import "../../style/variables.scss";
@import "../../style/App.scss";

.footer {
  color: $white;
  background: $blue;

  &-top {
    border-bottom: 2px solid $green-light;
    padding: 15px 0;

    & p {
      font-size: 21px;
      height: 100%;
      transform: translateY(5px);
      margin-bottom: 0;
    }

    & svg {
      font-size: 23px;
      margin-right: 5px;
    }

    & input {
      padding: 10px 25% 10px 10px;
    }

    & a {
      top: 6px;
      right: 5px;
      font-size: 15px;
      background: $green;
      color: $white;
      padding: 5px 15px;
    }

    & a:hover {
      background: $grey-light;
      color: $brown;
    }
  }

  &-bottom {
    border-bottom: 2px solid $green-light;
    padding: 20px 0;

    & h5 {
      color: $brown;
    }

    & ul {
      padding-left: 0;
    }

    & li {
      padding: 5px 0;
    }

    & a {
      color: $white;
    }

    & a:hover {
      color: $orange-light;
    }
  }
}

.bottom-social {
  & a {
    margin-right: 10px;
    font-size: 30px;
    color: $green-light;
  }

  & a:hover {
    color: $orange;
  }
}

@media (max-width: 991px) {
  .top-form {
    margin-top: 20px;
  }
}

@media (max-width: 400px) {
  .footer-top {
    & p {
      font-size: 15px;
    }
  }

  .top-form {
    width: 75%;
    & a {
      right: -25%;
    }
  }
}
