@import "../../style/variables.scss";

.footer {
  &-top {
    background: $bg-dark;
    border-bottom: 2px solid $color-light;
    padding: 10px 0;
    text-align: center;

    & input {
      padding-top: 0;
      margin-top: 0;
      padding: 7px 165px 7px 20px;
    }

    & a {
      top: 3px;
      right: 3px;
      font-size: 15px;
      background: $bg-grey;
      color: $color-light;
      padding: 5px 10px;
    }

    & a:hover {
      background: $color-light;
      color: $bg-dark;
    }
  }

  &-bottom {
    padding: 20px 0;
    background: $bg-dark;
    border-bottom: 2px solid $color-light;
    color: $color-light;
  }

  &-copyright {
    padding: 10px 0;
    text-align: center;
    background: $bg-dark;
    color: $color-light;

    & svg {
      font-size: 23px;
      margin: 0 5px 3px 0;
    }
  }
}

.top {
  &-title,
  &-img {
    color: $color-light;
    margin-right: 10px;
    font-size: 21px;
  }

  &-img {
    margin-bottom: 5px;
  }

  &-form {
    width: 75%;
  }
}

.bottom-block {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.bottom-items {
  & h3 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  & li {
    padding: 5px 0;
  }

  & a {
    color: $white;
  }
}

.bottom-social-item {
  color: $color-light;
  font-size: 30px;
  padding-left: 15px;
}

.bottom-social-item:first-child {
  padding-left: 30px;
}

.bottom-social-item:hover {
  color: $btn-hover;
}
