@import "../../style/App.scss";
@import "../../style/variables.scss";

.single-blog {
  background: $grey-light;
}

.single-container .title {
  margin-bottom: 20px;
  padding: 0;
}

.single-img {
  background: $green;
  border-radius: 5px;
  margin-bottom: 10px;

  & img {
    width: 100%;
    padding: 5px;
  }
}
.single-btn {
  padding-top: 20px;
  margin-left: 0px;
  position: relative;
  cursor: pointer;

  & svg {
    margin-right: 10px;
    margin-bottom: 3px;
    color: $blue;
  }
}

.single-link {
  color: $blue;
  text-transform: uppercase;
}
