@import "../../style/App.scss";
@import "../../style/variables.scss";

.product {
  background: $white;

  &-container {
    background: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 5px;
    padding: 20px;
  }

  &-img {
    padding: 10px;
    border: 2px solid $grey;
    border-radius: 5px;
  }

  &-box {
    padding: 20px;
    width: 100%;

    & h3 {
      font-size: 21px;
      color: $blue;
      text-transform: capitalize;
      border-bottom: 1px solid $grey;
      padding-bottom: 5px;
      font-weight: bold;
    }

    & p {
      margin: 5px 0;
      font-weight: bold;
      font-size: 15px;
      text-transform: uppercase;
      display: flex;
      justify-content: space-between;
    }

    & span {
      font-weight: normal;
      text-transform: lowercase;
    }
  }

  &-review {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid $grey;
  }
}

.product-box .price {
  margin-top: 20px;
}

.product-box .price {
  & span {
    font-weight: bold;
  }
}

.button-block {
  margin: 30px 0 20px;

  & span {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
    color: $blue;
  }
}

.block-input {
  width: 50px;
  border: 2px solid $blue;
  border-radius: 5px;
  outline: none;
  color: $blue;
  padding-left: 5px;
  font-size: 17px;
  margin: 0 25px 0 5px;
}

.product-btn {
  outline: none;
  padding: 5px 12px;
  border: 2px solid $blue;
  transition: all 0.5s;
  text-transform: capitalize;
  font-size: 15px;
  background: $blue;
  color: $white;
  border-radius: 5px;
  margin: 25px 10px 10px 0;
}

.product-btn:hover {
  background: $white;
  color: $blue;
}

.links-block {
  display: flex;
  align-items: center;
  margin: 20px 0;

  & a {
    margin-right: 20px;
  }

  & svg {
    margin-bottom: 5px;
  }

  & a,
  & svg {
    color: $green;
    font-size: 20px;
  }
}

.share {
  margin-left: 30px;
  color: $orange;
  font-size: 16px;

  & svg {
    margin-right: 3px;
    font-size: 25px;
    margin-bottom: 3px;
  }
}

@media (max-width: 700px) {
  .product-container {
    display: block;
  }
}
