@import "../../style/variables.scss";

.banner {
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 10px;
    box-shadow: 1px 1px 10px $grey;
  }
  &-box {
    display: flex;
    align-items: center;
    margin: 0 10px;
  }

  & svg {
    font-size: 30px;
    margin-right: 10px;
    color: $brown;
  }

  &-title {
    font-weight: bold;
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 15px;
  }

  &-subtitle {
    margin-bottom: 0;
    font-size: 12px;
  }
}

@media (max-width: 970px) {
  .banner-content {
    display: none;
  }
}

@media (max-width: 450px) {
  .banner-container {
    display: flex;
    flex-direction: column;
  }

  .banner-box {
    padding: 10px 0;
  }
}
